# SQLAlchemy Queries

SQLALchemy provides a Query API that allows us to perform SELECT statements on our ORM objects.

Queries are easy to read and understand.

## Setup

In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///titanic.sqlite", echo=False)

In [3]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['passenger']

In [4]:
Passenger = Base.classes.passenger

## Sessions

Sessions handle the actual connection to the database.

It communicates through transactions and queries.

In [5]:
session = Session(engine)

## Query Objects

Query objects are created with the `query()` method. These are basically your SELECT statements to the database.

Retrieve the first row of data from the database.

In [6]:
first_passenger = session.query(Passenger).first()
first_passenger.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x111d34630>,
 'age': 29.0,
 'id': 1,
 'name': 'Allen, Miss Elisabeth Walton',
 'pclass': '1st',
 'sex': 'female',
 'survived': 1}

Retrieve all rows from the database

In [7]:
all_passengers = session.query(Passenger).all()
len(all_passengers), type(all_passengers)

(1313, list)

In [8]:
all_passengers[:1]

In [9]:
all_passengers[0].name

'Allen, Miss Elisabeth Walton'

Just like with SELECT, you can choose which items to return

In [10]:
session.query(Passenger.name, Passenger.age).first()

('Allen, Miss Elisabeth Walton', 29.0)

## Filtering

Filters are the "WHERE" clause for your select statement

In [11]:
passengers_over_70 = session.query(Passenger).filter(Passenger.age > 70).all()
for passenger in passengers_over_70:
    print("Name: {name}, Age: {age}, Sex: {sex}".format(**passenger.__dict__))

Name: Artagaveytia, Mr Ramon, Age: 71.0, Sex: male
Name: Goldschmidt, Mr George B, Age: 71.0, Sex: male
Name: Mitchell, Mr Henry Michael, Age: 71.0, Sex: male

## Ordering

Query results can be ordered with `order_by()`

Will the following return the youngest or oldest passenger?

In [12]:
passenger = session.query(Passenger.name, Passenger.age).order_by(Passenger.age).first()

In [13]:
print(passenger)

('Aubert, Mrs Leontine Pauline', None)

How do we return the oldest?

In [14]:
passenger = session.query(Passenger.name, Passenger.age).order_by(Passenger.age.desc()).first()
print(passenger)

('Artagaveytia, Mr Ramon', 71.0)

## Your Turn!