# SQLAlchemy Grouping and Counting

## Setup

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [5]:
engine = create_engine("sqlite:///titanic.sqlite", echo=False)

In [6]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['passenger']

In [7]:
Passenger = Base.classes.passenger

In [8]:
session = Session(engine)

## Grouping

SQLAlchemy supplies a `group_by` method for Grouping. This is your GROUP BY clause in raw SQL.

Let's look at the different classes of passenger

In [9]:
session.query(Passenger.pclass).group_by(Passenger.pclass).all()

[('1st'), ('2nd'), ('3rd')]

## Functions and Aggregation

SQLAlchemy provides several aggregate functions for counting, summation, avergaging, etc through the [func method](http://docs.sqlalchemy.org/en/latest/core/sqlelement.html#sqlalchemy.sql.expression.func)

In [10]:
from sqlalchemy import func

List the total number of survivors

In [11]:
session.query(func.count(Passenger.survived)).filter(Passenger.survived == 1).all()

[(450)]

Combine `func.count` with `group_by` to get a list of survivors per class

In [12]:
# List survivor count per class
session.query(Passenger.pclass, func.count(Passenger.survived)).\
    filter(Passenger.survived == True).\
    group_by(Passenger.pclass).all()

[('1st', 193), ('2nd', 119), ('3rd', 138)]

## Sum and Mean

There are also built in functions for calculating the Sum and Mean. We can call `scalar()` to convert the query results to a number at the end.

Manually calculate the Mean passenger age using `func.sum`

In [13]:
session.query(func.sum(Passenger.age)/func.count(Passenger.age)).scalar()

30.397989417989415

Calculate the mean using `func.avg`

In [14]:
session.query(func.avg(Passenger.age)).scalar()

30.397989417989415

Compare the results to Pandas

In [15]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM passenger", engine)
df.age.mean()

30.397989417989415

## Your Turn!